    a
    {
        color:#1146c4;
        text-decoration:underline;
    }

    h1, h2, h3, h4, h5
    {
        margin-top:0;
        margin-bottom:0;        
        color:#222;    
    }
    h1
    {
        font-size:28px;
    }
    h2
    {
        font-size:24px;
    }
    h3
    {
        font-size:20px;
    }
    h4
    {
        font-size:21px;
    }
    h5
    {
        font-size:20px;
    }
    h6
    {
        font-size:19px;
    }

/* region : PageContent */
    #companyLogo
    {
        background-image:url('/Content/Images/APLogo1.png');
        background-repeat:no-repeat;
        position:absolute;
        overflow:visible;
        z-index:500;
        width:200px;
        height:198px;
        left:-92px;
        top:-112px;
        background-position:0 0;
    }
    #companyLogoShadow
    {
        background-image:url('/Content/Images/APLogo2.png');
        background-repeat:no-repeat;
        position:absolute;
        overflow:visible;
        width:200px;
        height:198px;
        left:-72px;
        top:-84px;
        
        /*left:56px;
        top:56px;*/
        z-index:-10;
        background-position:0 0;
    }
    
    #main
    {
        height:100%;
        /*min-height:386px;
        min-width:386px;*/
        width:100%;
        top:0;               
        margin:0;
        border:0;   
        bottom:0;
        padding:0;
        position:relative;
    }

    #headers
    {
        padding:4px 0 4px 96px;
        margin:-68px 0 4px 0;
        right:0;
        min-height:62px;
        width:auto;
        position:relative;
        background-image:url('/Content/Images/CurrentMenuEntry.png');
    }
    #headers > h2
    {
        margin:4px 20px 4px 20px;
    }
  
    #pageContent
    {     
        top:0;
        left:0;
        width:auto;
        min-height:400px;
        height:100%;
        position:relative;        
        z-index:501;
        margin:16px 26px 16px 26px;
    }
    
    #mainCell
    {
        width:auto;
        height:auto;
        background-image:url('/Content/Images/Background.png');
    }
    
/* endregion : PageContent */


/*region : Menu */

    #menu
    {
        z-index:300;
        position:relative;
        top:-62px;
        margin:0 0 0 92px;
        overflow:visible;
    }
    
    #menu td
    {
        margin:6px;
    }
    
    #menu a
    {
        display:block;
        margin:0px 4px 0 0;
        padding:6px 4px 6px 4px;
        text-align:center;
        vertical-align:middle;
        /* ie7 bug ... left it out while designing - could put it back in with my serverside browser check now */
        /*min-width:96px;*/        
        position:relative;
        text-decoration:none;               
    }

.CurrentMenuEntry span
{
    font-size:17px;
    font-weight:600;        
}

.MenuEntry span
{
    font-size:16px;
    font-weight:400;
}
    .CurrentMenuEntry, .CurrentMenuEntry:visited, .MenuEntry:hover
    {
        background-image:url('/Content/Images/CurrentMenuEntry.png');
        height:62px;
        width:122px;
        color:#262626;
        font-weight:600;
        font-size:18px;
        top:-4px;
    }

    .MenuEntry, .MenuEntry:visited
    {   
        height:42px;
        width:106px;
        background-image:url('/Content/Images/MenuEntry.png');
        color:#363636;        
        font-size:16px;
        font-weight:normal;
    }    

 /* endregion : Menu */
 
 
 
 /* region : widgets */
#widgets
{
    
}
 
 /* endregion : widgets */

 
/* v1 remnants - will be replaced soon */
fieldset
{
    text-align:left;
    background-color:transparent;
    padding:12px 20px 16px 20px;
    margin:18px;
    border-top:1px solid #EEE;    
    border-right:1px solid #EEE;
    border-bottom:1px solid #BABABA;
    border-left:1px solid #BABABA;    
}
a > img
{
    border:none;
    text-decoration:none;
    margin:4px;
    vertical-align:middle;
}            
fieldset > div
{
    margin:0 12px 0 12px;
}
   
label, legend
{
    color:#292929;
    margin:0 6px 0 0;
    font-weight:500;
}
ul
{
    margin:0;
    padding:4px 22px 4px 22px;
}
li 
{    
    color:#333;
}     
#_address
{
    padding:3px 6px 3px 6px;
}
.Separator
{
    height:6px;
}
       

/* v2 starts */