<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <!-- iis8 requires that or it won't even start -->
    <modules runAllManagedModulesForAllRequests="true"></modules>        
  </system.webServer>      
  <system.web>
    <httpRuntime targetFramework="4.5.2"/>
    <compilation targetFramework="4.5.2" optimizeCompilations="false">
      <assemblies>
        <add assembly="AP" />
        <add assembly="AP.Configuration" />
        <add assembly="AP.Data" />
        <add assembly="AP.UI" />
        <add assembly="AP.Web" />
        <add assembly="AP.Panacea"/>
        <add assembly="AP.Panacea.Web"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" pageBaseType="AP.Web.UI.Page" userControlBaseType="AP.Web.UI.UserControl">
      <namespaces>        
        <add namespace="AP" />
        <add namespace="AP.Collections" />
        <add namespace="AP.UI" />
        <add namespace="AP.Web" />
        <add namespace="AP.Web.UI" />
        <add namespace="AP.Panacea.Web"/>
        <add namespace="AP.Panacea.Web.UI"/>
        <!--<add namespace="Resources" />-->
        <!--<add namespace="AP.Panacea.Web.DemoApp.Html"/>-->
      </namespaces>
      <controls>
        <add tagPrefix="ap" namespace="AP.Web.UI" assembly="AP.Web" />
      </controls>
    </pages>
  </system.web>  
</configuration>