<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="GET, HEAD" path="/Scripts" type="AP.Web.Handlers.ScriptsCombiner, AP.Web" validate="false"/>
      <add verb="GET, HEAD" path="/Styles" type="AP.Web.Handlers.StylesCombiner, AP.Web" validate="false"/>
    </httpHandlers>
    <customErrors defaultRedirect="Views/Shared/Error.aspx" mode="RemoteOnly" redirectMode="ResponseRewrite"/>
    <compilation debug="true" targetFramework="4.0" optimizeCompilations="true">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="AP"/>
        <add assembly="AP.Xaml"/>
        <add assembly="AP.Configuration"/>
        <add assembly="AP.Data"/>
        <add assembly="AP.UI"/>
        <add assembly="AP.Web"/>
        <add assembly="AP.Web.Mvc"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>